- name: Export scheduled tasks from source
  hosts: windows_servers
  gather_facts: false
  become: false

  vars:
    task_names:
      - '\KM-Tasks\Daily Google Ping'
    export_dir: 'D:/temp/TaskExport'
  tasks:
    - name: Ensure export directory exists
      ansible.windows.win_file:
        path: "{{ export_dir }}"
        state: directory

    - name: Ensure local export folder exists
      delegate_to: localhost
      run_once: true
      ansible.builtin.file:
        path: "./task_exports"
        state: directory

    - name: Export tasks to XML
      ansible.windows.win_shell: |
        $name = "{{ item }}"
        $safe = $name -replace '[\\/]', '_'
        $out  = Join-Path "{{ export_dir }}" ($safe + ".xml")
        schtasks /Query /TN "$name" /XML | Out-File -FilePath $out -Encoding utf8
        if ($LASTEXITCODE -ne 0) { throw "Failed to export task: $name" }
      loop: "{{ task_names }}"

    - name: Fetch exported XML files to controller
      ansible.builtin.fetch:
        src: "{{ export_dir }}/{{ item | regex_replace('[\\\\/]', '_') }}.xml"
        dest: "./task_exports/"
        flat: true
      loop: "{{ task_names }}"
