---
# Ansible playbook to export scheduled tasks from a source Windows server
# and import them to a target Windows server.

- name: Prep controller
  hosts: localhost
  gather_facts: false

  tasks:
    - name: Ensure local export folder exists
      run_once: true
      ansible.builtin.file:
        path: "{{ controller_dir }}"
        mode: "1777"
        state: directory

- name: Export scheduled tasks from source
  hosts: win10-1
  gather_facts: false
  become: false

  tasks:
    - name: Ensure export directory exists
      ansible.windows.win_file:
        path: "{{ export_dir }}"
        state: directory

    - name: Export tasks to XML
      ansible.windows.win_shell: |
        $name = "{{ item }}"
        $safe = $name -replace '[\\/]', '_'
        $out  = Join-Path "{{ export_dir }}" ($safe + ".xml")
        schtasks /Query /TN "$name" /XML | Out-File -FilePath $out -Encoding Unicode
        if ($LASTEXITCODE -ne 0) { throw "Failed to export task: $name" }
      loop: "{{ task_names }}"

    - name: Debug computed src path
      ansible.builtin.debug:
        msg: >
          src={{ export_dir }}/{{ item | regex_replace('[\\\\/]', '_') }}.xml
      loop: "{{ task_names }}"


    - name: Fetch exported XML files to controller
      ansible.builtin.fetch:
        src: "{{ export_dir }}/{{ item | regex_replace('[\\\\/]', '_') }}.xml"
        dest: "{{ controller_dir }}/"
        flat: true
      loop: "{{ task_names }}"


- name: Import scheduled tasks to target
  hosts: win11-1
  gather_facts: false

  tasks:
    - name: Ensure import directory exists
      ansible.windows.win_file:
        path: "{{ import_dir }}"
        state: directory

    - name: Copy XML exports to target
      ansible.windows.win_copy:
        src: "{{ controller_dir }}/{{ item | regex_replace('[\\\\/]', '_') }}.xml"
        dest: "{{ import_dir }}/{{ item | regex_replace('[\\\\/]', '_') }}.xml"
      loop: "{{ task_names }}"

    - name: Register tasks from XML (create or overwrite) as SYSTEM
      ansible.windows.win_shell: |
        $name = "{{ item }}"
        $safe = $name -replace '[\\/]', '_'
        $xml  = Join-Path "{{ import_dir }}" ($safe + ".xml")
        schtasks /Create /TN "$name" /XML "$xml" /RU "SYSTEM" /F
      loop: "{{ task_names }}"
