- name: Prep controller
  hosts: localhost
  gather_facts: false
  vars:
    controller_dir: '/tmp/task_exports'

  tasks:
    - name: Ensure local export folder exists
      run_once: true
      ansible.builtin.file:
        path: "{{ controller_dir }}"
        mode: "1777"
        state: directory

- name: Export scheduled tasks from source
  hosts: win10-1
  gather_facts: false
  become: false

  vars:
    task_names:
      - 'Daily Google Ping'
      - 'Daily Google Ping 2'
    export_dir: 'D:/temp/TaskExport'
    controller_dir: '/tmp/task_exports'

  tasks:
    - name: Ensure export directory exists
      ansible.windows.win_file:
        path: "{{ export_dir }}"
        state: directory

    - name: Export tasks to XML
      ansible.windows.win_shell: |
        $name = "{{ item }}"
        $safe = $name -replace '[\\/]', '_'
        $out  = Join-Path "{{ export_dir }}" ($safe + ".xml")
        schtasks /Query /TN "$name" /XML | Out-File -FilePath $out -Encoding Unicode
        if ($LASTEXITCODE -ne 0) { throw "Failed to export task: $name" }
      loop: "{{ task_names }}"

    - name: Debug computed src path
      ansible.builtin.debug:
        msg: >
          src={{ export_dir }}/{{ item | regex_replace('[\\\\/]', '_') }}.xml
      loop: "{{ task_names }}"


    - name: Slurp exported XML content from Windows
      ansible.windows.slurp:
        src: "{{ export_dir }}\\{{ item | regex_replace('[\\\\/]', '_') }}.xml"
      loop: "{{ task_names }}"
      register: slurped

    - name: Write XML files to controller
      ansible.builtin.copy:
        content: "{{ item.content | b64decode }}"
        dest: "{{ controller_dir }}/{{ (item.item | regex_replace('[\\\\/]', '_')) }}.xml"
        mode: "0644"
      delegate_to: localhost
      loop: "{{ slurped.results }}"
