- name: Export scheduled tasks from source
  hosts: win10-1
  gather_facts: false
  become: false

  vars:
    task_names:
      - '\KM-Tasks\Daily Google Ping'
    export_dir: 'D:/temp/TaskExport'
  tasks:
    - name: Ensure export directory exists
      ansible.windows.win_file:
        path: "{{ export_dir }}"
        state: directory

    - name: Ensure local export folder exists
      delegate_to: localhost
      run_once: true
      ansible.builtin.file:
        path: "./task_exports"
        state: directory

    - name: Export tasks to XML
      ansible.windows.win_shell: |
        $name = "{{ item }}"
        $safe = $name -replace '[\\/]', '_'
        $out  = Join-Path "{{ export_dir }}" ($safe + ".xml")
        schtasks /Query /TN "$name" /XML | Out-File -FilePath $out -Encoding Unicode
        if ($LASTEXITCODE -ne 0) { throw "Failed to export task: $name" }
      loop: "{{ task_names }}"

    - name: Fetch exported XML files to controller
      ansible.builtin.fetch:
        src: "{{ export_dir }}/{{ item | regex_replace('[\\\\/]', '_') }}.xml"
        dest: "./task_exports/"
        flat: true
      loop: "{{ task_names }}"

- name: Import scheduled tasks to target
  hosts: win11-1
  gather_facts: false
  vars:
    task_names:
      - '\KM-Tasks\Daily Google Ping'
    import_dir: 'C:/temp/TaskImport'
  tasks:
    - name: Ensure import directory exists
      ansible.windows.win_file:
        path: "{{ import_dir }}"
        state: directory

    - name: Copy XML exports to target
      ansible.windows.win_copy:
        src: "./task_exports/{{ item | regex_replace('[\\\\/]', '_') }}.xml"
        dest: "{{ import_dir }}/{{ item | regex_replace('[\\\\/]', '_') }}.xml"
      loop: "{{ task_names }}"

    - name: Register tasks from XML (create or overwrite) as SYSTEM
      ansible.windows.win_shell: |
        $name = "{{ item }}"
        $safe = $name -replace '[\\/]', '_'
        $xml  = Join-Path "{{ import_dir }}" ($safe + ".xml")
        schtasks /Create /TN "$name" /XML "$xml" /RU "SYSTEM" /F
      loop: "{{ task_names }}"
