- name: Update linux servers
  hosts: all
  become: true
  tasks:
    - name: Update packages on Ubuntu, Fedora, Redhat, and CentOS
      apt:
       update_cache: true
       upgrade: dist
      when: ansible_facts['os_family']=="Debian"

    - name: Update packages on CentOS or RHEL
      yum:
       name: "*"
       state: latest
      when: ansible_facts['os_family']=="RedHat"
    
    - name: Reboot if required
      reboot:
       msg: "Reboot triggered by Ansible after system updates"
       connect_timeout: 5
       reboot_timeout: 600
      when: ansible_facts['os_family'] in ["Debina","RedHat"]

      