---
# playbooks/win_playbook_scheduledTask.yml

- name: Prep controller (Linux)
  hosts: localhost
  gather_facts: false
  vars:
    controller_export_dir: "{{ controller_dir }}"
  tasks:
    - name: Prep controller workspace
      ansible.builtin.include_role:
        name: win_scheduledTask
        tasks_from: 10_prep_controller.yml

- name: Export scheduled tasks on source (Windows)
  hosts: "{{ source_server }}"
  gather_facts: false
  tasks:
    - name: Export tasks to XML on source
      ansible.builtin.include_role:
        name: win_scheduledTask
        tasks_from: 20_export_on_source.yml

- name: Push XMLs to controller
  hosts: "{{ source_server }}"
  gather_facts: false
  vars:
    source_host: "{{ source_server }}"
  tasks:
    - name: Push XMLs from source to controller
      ansible.builtin.include_role:
        name: win_scheduledTask
        tasks_from: 30_push_to_controller.yml

- name: Pull XMLs to destinations
  hosts: "{{ destination_servers }}"
  gather_facts: false
  tasks:
    - name: Pull XMLs from controller to destination
      ansible.builtin.include_role:
        name: win_scheduledTask
        tasks_from: 40_pull_to_destination.yml

- name: Import scheduled tasks on destinations (Windows)
  hosts: "{{ destination_servers }}"
  gather_facts: false
  tasks:
    - name: Import tasks from XML on destination(s)
      ansible.builtin.include_role:
        name: win_scheduledTask
        tasks_from: 50_import_on_destinations.yml

- name: Clean up controller (Linux)
  hosts: localhost
  gather_facts: false
  vars:
    controller_export_dir: "{{ controller_dir }}"
  tasks:
    - name: Clean up controller workspace
      ansible.builtin.include_role:
        name: win_scheduledTask
        tasks_from: 60_clean_up_controller.yml

- name: Clean up source (Windows)
  hosts: "{{ source_server }}"
  gather_facts: false
  tasks:
    - name: Clean up source
      ansible.builtin.include_role:
        name: win_scheduledTask
        tasks_from: 70_clean_up_source.yml

- name: Clean up destinations (Windows)
  hosts: "{{ destination_servers }}"
  gather_facts: false
  tasks:
    - name: Clean up destination servers
      ansible.builtin.include_role:
        name: win_scheduledTask
        tasks_from: 80_clean_up_destinations.yml       